
  <div class="view">

  <h3 class="lobster deckname text-center">{{currentDeck.attributes.name}}:</h3>
  <h4 class=" text-center"> {{currentDeck.attributes.description}}</h4>
   <hr>

  <div class="showcards col-xs-12 col-sm-8 text-center">  
    <section class="container-fluid" >
      
      <h3 class="lobster">My Cards</h3>
        <div class="row">
        <div class='col-xs-12 col-md-6' ng-repeat="card in cards" ng-click="asking=!asking" ng-show="asking || !asking" >

          <div class="card flipOutX " ng-class="{'answer':answer}" ng-click="answer=!answer" ng-style="{'background':currentDeck.attributes.colorback }" >
          
            <div class='pull-right' ng-really-message="Are you sure you want to delete this card?" ng-really-click="deleteCard(card.id)" >
              <a href="#" ><i class='glyphicon glyphicon-remove'></i></a>
            </div>
            <h4 ng-show="asking">{{card.attributes.answer}}</h4>
            <h4 ng-show="!asking" ng-hide="asking" >{{card.attributes.prompt}}</h4>
            <h6>Created: {{card.attributes.createdAt | date:'MM/dd/yyyy @ h:mma'}}</h6>
          </div>
          </div>
        </div>
      <hr>
    </section>
  </div>
    

    
      <form class="col-xs-12 col-sm-4 text-center cardform" name="newCardForm" ng-submit="createCard(Card, currentDeck)">
      <h3 class="text-center lobster"> Why dont you make some new cards?</h3>

        <div class="row lobster ">
          <div class="form-group col-xs-12">
            <label for="new-card-prompt">New card prompt</label><br>
            <input class="form-control" type="textarea" id="new-card-prompt" ng-model="Card.prompt" required/>
          </div>
          <div class="form-group col-xs-12">
            <label for="new-card-answer">New card answer</label><br>
            <input class="form-control" type="textarea" id="new-card-answer"ng-model="Card.answer" required/>
          </div>
         <!--  <div class="form-group col-xs-12">
            <input class="form-control" type="text" id="deckID "ng-model="Card.DeckId" ng-value=" Card.DeckId" />
          </div> -->
        <div class="row lobster ">
          <div class="form-group col-xs-12">
            <button type="submit" class='btn btn-default save menu-item'>Save</button>
          </div>
          your pending card is {{Card}}
        </div><!-- end of row -->
      </form>
    
    
    
  </div>
</div>

