<div>


<div ng-if="currentUser">
  <h3 class="text-center lobster">Make a new card!</h3>
{{hello}}

  <div class="container">
    <form name="newCardForm" ng-submit="createCard(Card)">

      <div class="row lobster">
      <div class="col-sm-3">
          <label for="new-card-prompt">New card prompt</label><br>
          <input type="textarea" id="new-card-prompt" ng-model="Card.prompt" required/>
        </div>
        <div class="col-sm-3">
          <label for="new-card-answer">New card answer</label><br>
          <input type="textarea" id="new-card-answer"ng-model="Card.answer" required/>
        </div>
        <div class="col-sm-3">
          <label for="deck-name">Deck Name</label><br>
          <input ng-model="Card.deck" type="text" id="deck-name" />
        </div>
      </div>
      <div class="row lobster">
        <div class="col-sm-3">
          <label for="new-card-color-front">Color front (default navy)</label><br>
          <input ng-model="Card.colorfront" type="color" id="new-card-color-front" ng-style="{'background':Card.colorfront}"/>
        </div>
        <div class="col-sm-3">
          <label for="new-card-color-back">Color back (default red)</label><br>
          <input ng-model="Card.colorback" type="color" id="new-card-color-back" ng-style="{'background':Card.colorback, 'padding' : '5px'}"/>

        </div>
        <div class="col-sm-3">
          <button type="submit" class='btn btn-default save menu-item'>Save</button>
        </div>
        your pending card is {{Card}}
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
   <!--  <div class="col-sm-4"> -->
  <!--     <form name="deckFilter">
        <label for="selectDeck">Select a Deck</label>
        <select name="deckFilter" id="deckFilter" ng-model="data.deckFilter">
          <option ng-repeat="option in cards" value="{{option.deck}}">{{option.deck}}</option>
        </select>
      </form>
    </div>
    <div class="col-sm-4">
      <tt>deckFilter = {{data.deckFilter}}</tt> -->
    <!-- </div> -->
  </div>
  <hr>


  <section class="container-fluid" >
    <div class="row">
      <div class='col-xs-6 col-md-4 col-lg-3 text-center' ng-repeat="card in cards | filter: card.deck : data.deckFilter" ng-click="asking=!asking" ng-show="asking || !asking">

        <div class="card flipOutX " ng-class="{'answer':answer}" ng-click="answer=!answer" >
          <div class='pull-right ' ng-click="deleteCard(card.id)">
              <a href="#" ><i class='glyphicon glyphicon-remove'></i></a>
          </div>
          <h4 ng-show="asking" >{{card.attributes.answer}}</h4>
          <h4 ng-show="!asking" ng-hide="asking" >{{card.attributes.prompt}}</h4>
          <h6>{{card.attributes.deck}}</h6>
          </div>
        </div>
      </div>
    </section>

  </div>

</div>
</div>